aside {
    width: 200px;
    background-color: #2ecc71;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    margin-bottom: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
  